<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lobothijau.carouselsederhana">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_apps_iai_bg_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity_list_arsitek"
            android:label="List Arsitek" />
        <activity
            android:name=".Activity_profil_arsitek"
            android:label="Profile Arsitek" />
        <activity
            android:name=".Activity_profil_arsitek2"
            android:label="Porftolio Arsitek" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity_login"
            android:label="Login" />
        <activity
            android:name=".Activity_supplier"
            android:label="List Supplier" />
        <activity
            android:name=".Activity_project"
            android:label="Project" />
        <activity
            android:name=".Activity_add_project"
            android:label="Add Project" />
        <activity android:name=".Activity_qrcode"
            android:label="QR Code"/>
    </application>

</manifest>